In [ ]:
import pandas as pd

In [4]:
ammonium_df = pd.read_parquet('../data/Ammonium_measurements.parquet')

ammonium_df.info()
ammonium_df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 525469 entries, 0 to 44639
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   historianTagnummer  525469 non-null  object
 1   hstWaarde           525469 non-null  object
 2   datumBeginMeting    525469 non-null  object
 3   datumEindeMeting    525469 non-null  object
dtypes: object(4)
memory usage: 20.0+ MB

,historianTagnummer,hstWaarde,datumBeginMeting,datumEindeMeting
count,525469,525469,525469,525469
unique,1,17419,525409,525409
top,EDE_B121069913_K600.MTW,0.682,2021-10-31 02:21:00,2021-10-31 02:22:00
freq,525469,142,2,2

In [3]:
nitrate_df = pd.read_parquet('../data/Nitrate_measurements.parquet')

nitrate_df.info()
nitrate_df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 525469 entries, 0 to 44639
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   historianTagnummer  525469 non-null  object
 1   hstWaarde           525469 non-null  object
 2   datumBeginMeting    525469 non-null  object
 3   datumEindeMeting    525469 non-null  object
dtypes: object(4)
memory usage: 20.0+ MB

,historianTagnummer,hstWaarde,datumBeginMeting,datumEindeMeting
count,525469,525469,525469,525469
unique,1,9579,525409,525409
top,EDE_B121069914_K600.MTW,9.988,2021-10-31 02:21:00,2021-10-31 02:22:00
freq,525469,1803,2,2