In [1]:
import pandas as pd

Understanding ammonium data

In [2]:
ammonium_df = pd.read_parquet('../data/Ammonium_measurements.parquet')

ammonium_df['hstWaarde'] = ammonium_df['hstWaarde'].astype(float)
ammonium_df.head()
ammonium_df.info()
ammonium_df.describe()
ammonium_df.describe(include=['O'])
ammonium_df.shape

<class 'pandas.core.frame.DataFrame'>
Index: 525469 entries, 0 to 44639
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   historianTagnummer  525469 non-null  object
 1   hstWaarde           525469 non-null  float64
 2   datumBeginMeting    525469 non-null  object
 3   datumEindeMeting    525469 non-null  object
dtypes: float64(1), object(3)
memory usage: 20.0+ MB

(525469, 4)

Understanding Nitrate data

In [3]:
nitrate_df = pd.read_parquet('../data/Nitrate_measurements.parquet')

nitrate_df['hstWaarde'] = nitrate_df['hstWaarde'].astype(float)
nitrate_df.head()
nitrate_df.info()
nitrate_df.describe()
nitrate_df.describe(include=['O'])
nitrate_df.shape

<class 'pandas.core.frame.DataFrame'>
Index: 525469 entries, 0 to 44639
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   historianTagnummer  525469 non-null  object
 1   hstWaarde           525469 non-null  float64
 2   datumBeginMeting    525469 non-null  object
 3   datumEindeMeting    525469 non-null  object
dtypes: float64(1), object(3)
memory usage: 20.0+ MB

(525469, 4)

Understanding Influent data

In [4]:
influent_df = pd.read_csv('../data/Total_influent_flow_WWTP_Ede_2021_minute_data.csv', sep=";")

influent_df.head()
influent_df.info()
influent_df.describe()
nitrate_df.describe(include=['O'])
influent_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525599 entries, 0 to 525598
Data columns (total 3 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   DateTime               525599 non-null  object
 1   EDE_09902MTW_K100.MTW  525599 non-null  object
 2   wwResolution           525599 non-null  int64
dtypes: int64(1), object(2)
memory usage: 12.0+ MB

(525599, 3)

Understanding Oxygen A data

In [20]:
oxygenA_df = pd.read_parquet('../data/Oxygen_A.parquet')

oxygenA_df['hstWaarde'] = oxygenA_df['hstWaarde'].astype(float)
oxygenA_df.head() 
oxygenA_df.info()
oxygenA_df.describe()
oxygenA_df.describe(include=['O'])

,historianTagnummer,hstWaarde,datumBeginMeting,datumEindeMeting
0,EDE_B121069901_K600.MTW,0.003,2021-01-01 00:00:00,2021-01-01 00:01:00
1,EDE_B121069901_K600.MTW,0.003,2021-01-01 00:01:00,2021-01-01 00:02:00
2,EDE_B121069901_K600.MTW,0.003,2021-01-01 00:02:00,2021-01-01 00:03:00
3,EDE_B121069901_K600.MTW,0.003,2021-01-01 00:03:00,2021-01-01 00:04:00
4,EDE_B121069901_K600.MTW,0.003,2021-01-01 00:04:00,2021-01-01 00:05:00

Understandign OxygenB data

In [24]:
oxygenB_df = pd.read_parquet('../data/Oxygen_B.parquet')

oxygenB_df['hstWaarde'] = oxygenB_df['hstWaarde'].astype('float')
oxygenB_df.info()
oxygenB_df.describe(include=['O'])

<class 'pandas.core.frame.DataFrame'>
Index: 525469 entries, 0 to 44639
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   historianTagnummer  525469 non-null  object
 1   hstWaarde           525469 non-null  float64
 2   datumBeginMeting    525469 non-null  object
 3   datumEindeMeting    525469 non-null  object
dtypes: float64(1), object(3)
memory usage: 20.0+ MB

             historianTagnummer     datumBeginMeting     datumEindeMeting
count                    525469               525469               525469
unique                        1               525409               525409
top     EDE_B121069907_K600.MTW  2021-10-31 02:10:00  2021-10-31 02:11:00
freq                     525469                    2                    2