In [2]:
import pandas as pd

In [ ]:
def cleanData(df,substance):
    df = df.drop(columns=['historianTagnummer'])
    df.rename(columns={'hstWaarde': substance + 'Value'}, inplace=True)
    df['datumBeginMeting'] = pd.to_datetime(df['datumBeginMeting'])
    df['StartDate'] = df['datumBeginMeting'].dt.date
    df['StartTime'] = df['datumBeginMeting'].dt.time
    df['datumEindeMeting'] = pd.to_datetime(df['datumEindeMeting'])
    df['endDate'] = df['datumEindeMeting'].dt.date
    df['endTime'] = df['datumEindeMeting'].dt.time
    df = df.drop(columns=['datumBeginMeting','datumEindeMeting'])
    df.to_parquet('../data/cleanedData/'+ substance +'.parquet', index=False)
    pass

In [ ]:
data_files = [
    ('../data/Ammonium_measurements.parquet', 'ammonium'),
    ('../data/Nitrate_measurements.parquet', 'nitrate'),
    ('../data/Oxygen_A.parquet', 'oxygenA'),
    ('../data/Oxygen_B.parquet', 'oxygenB'),
    ('../data/Phosphate_measurements.parquet', 'phosphate')
]

for file_path, var_name in data_files:
    df = pd.read_parquet(file_path)
    cleanData(df, var_name)

In [21]:
with open('../data/Total_influent_flow_WWTP_Ede_2021_minute_data.csv', 'r') as file:
    lines = file.readlines()

with open('../data/cleanedData/total.csv', 'w') as file:
    for line in lines:
        modified_line = line.replace(';60000', '').replace(';',',')
        file.write(modified_line)

In [22]:
asd = pd.read_csv('../data/cleanedData/total.csv')
asd['DateTime'] = pd.to_datetime(asd['DateTime'])
asd['Date'] = asd['DateTime'].dt.date
asd['Time'] = asd['DateTime'].dt.time
asd = asd.drop(columns=['DateTime'])

/tmp/ipykernel_50136/725701965.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  asd = pd.read_csv('../data/cleanedData/total.csv')

                DateTime EDE_09902MTW_K100.MTW  wwResolution
0         1-1-2021 00:01                  2754      761089.0
1         1-1-2021 00:02                  2609      343947.0
2         1-1-2021 00:03                  2535      541065.0
3         1-1-2021 00:04                  2780      798536.0
4         1-1-2021 00:05                  2192      832206.0
...                  ...                   ...           ...
525594  31-12-2021 23:55                   907     6167848.0
525595  31-12-2021 23:56                   176     3518071.0
525596  31-12-2021 23:57                   113     5575971.0
525597  31-12-2021 23:58                   187     9508758.0
525598  31-12-2021 23:59                   511     6983559.0

[525599 rows x 3 columns]