In [8]:
import knmi
import pandas as pd

Get the station that we will use

In [9]:
knmi.stations[375]
#we will use 375

Station(number=375, longitude=5.707, latitude=51.659, altitude=22.0, name='VOLKEL')

Get the data that we will use

In [10]:
knmi.variables["RH"]
# we will use RH for perticipation

'Daily precipitation amount (in 0.1 mm) (-1 for <0.05 mm)'

Get the data

In [11]:
df = knmi.get_day_data_dataframe(stations=[375], start='20210101', end="20220101")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 366 entries, 2021-01-01 00:00:00+01:00 to 2022-01-01 00:00:00+01:00
Data columns (total 40 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   STN     366 non-null    int64
 1   DDVEC   366 non-null    int64
 2   FHVEC   366 non-null    int64
 3   FG      366 non-null    int64
 4   FHX     366 non-null    int64
 5   FHXH    366 non-null    int64
 6   FHN     366 non-null    int64
 7   FHNH    366 non-null    int64
 8   FXX     366 non-null    int64
 9   FXXH    366 non-null    int64
 10  TG      366 non-null    int64
 11  TN      366 non-null    int64
 12  TNH     366 non-null    int64
 13  TX      366 non-null    int64
 14  TXH     366 non-null    int64
 15  T10N    356 non-null    float64
 16  T10NH   356 non-null    float64
 17  SQ      366 non-null    int64
 18  SP      366 non-null    int64
 19  Q       366 non-null    int64
 20  DR      366 non-null    int64
 21  RH      366 non-null    int64
 22  RHX     366 non-null    int64
 23  RHXH    366 non-null    int64
 24  PG      366 non-null    int64
 25  PX      366 non-null    int64
 26  PXH     366 non-null    int64
 27  PN      366 non-null    int64
 28  PNH     366 non-null    int64
 29  VVN     366 non-null    int64
 30  VVNH    366 non-null    int64
 31  VVX     366 non-null    int64
 32  VVXH    366 non-null    int64
 33  NG      366 non-null    int64
 34  UG      366 non-null    int64
 35  UX      366 non-null    int64
 36  UXH     366 non-null    int64
 37  UN      366 non-null    int64
 38  UNH     366 non-null    int64
 39  EV24    366 non-null    int64
dtypes: float64(2), int64(38)
memory usage: 117.2 KB

,STN,DDVEC,FHVEC,FG,FHX,FHXH,FHN,FHNH,FXX,FXXH,...,VVNH,VVX,VVXH,NG,UG,UX,UXH,UN,UNH,EV24
YYYYMMDD,,,,,,,,,,,,,,,,,,,,,
2021-01-01 00:00:00+01:00,375,231,29,30,40,13,10,1,60,14,...,4,70,12,8,93,98,3,82,12,3
2021-01-02 00:00:00+01:00,375,201,20,25,40,1,10,17,60,3,...,18,58,3,8,95,97,17,92,4,1
2021-01-03 00:00:00+01:00,375,34,34,35,50,12,20,1,110,14,...,1,75,12,8,85,96,1,74,14,1
2021-01-04 00:00:00+01:00,375,45,49,50,70,10,40,1,110,9,...,3,70,4,8,88,93,23,83,17,1
2021-01-05 00:00:00+01:00,375,46,41,41,50,1,30,21,90,1,...,17,70,1,8,88,90,23,85,12,1

Clean up the data

In [20]:
perticipation_values = pd.DataFrame({
    "Date": df.index,
    "Perticipation": df.apply(lambda row: 0 if row["RH"] < 0 else row["RH"], axis=1)
})
perticipation_values.reset_index(drop=True, inplace=True)
perticipation_values.head()

                       Date  Perticipation
0 2021-01-01 00:00:00+01:00            4.0
1 2021-01-02 00:00:00+01:00            1.0
2 2021-01-03 00:00:00+01:00            0.0
3 2021-01-04 00:00:00+01:00            7.0
4 2021-01-05 00:00:00+01:00            0.0